[variables]
    NPM_CONFIG_UPDATE_NOTIFIER = 'false'
    PORT = '80'

# 1. Configuraci贸n del entorno (Instalaci贸n de herramientas)
[phases.setup]
    nixPkgs = ["caddy", "bun"]

# 2. Instalaci贸n de dependencias y Compilaci贸n
[phases.build]
    dependsOn = ["setup"]
    cmds = ["bun install", "bun run build"]

# 3. Formateo del Caddyfile (Opcional pero recomendado para evitar errores)
[phases.fmt]
    dependsOn = ["setup"]
    cmds = ["caddy fmt --overwrite Caddyfile"]

# 4. Comando de inicio
[start]
    # Usamos exec para que Caddy sea el proceso principal del contenedor
    cmd = "exec caddy run --config Caddyfile --adapter caddyfile"
