[variables]
    PORT = '80' # Esto le asegura a Nixpacks que el puerto por defecto es 80# Install Caddy as a system package

nixPkgs = ["caddy", "bun"]

# Specify the build phase commands
[phases.build]
cmds = ["bun install", "bun run build"]

# Specify the start command using Caddy to serve the static files
[start]
# Assumes build output is in the 'dist' directory
cmd = 'exec caddy run --config Caddyfile --adapter caddyfile 2>&1'

