[variables]
    NPM_CONFIG_UPDATE_NOTIFIER = 'false'
    # Forzamos a que el puerto sea el que Dokploy espera
    PORT = '80' 

[phases.setup]
    nixPkgs = ['caddy', 'bun']

[phases.build]
    dependsOn = ['setup']
    # Esto es VITAL: Crea la carpeta 'dist' que tu Caddyfile necesita
    cmds = ['bun install', 'bun run build']

[phases.fmt]
    dependsOn = ['setup']
    cmds = ['caddy fmt --overwrite Caddyfile']

[start]
    cmd = 'exec caddy run --config Caddyfile --adapter caddyfile'
