.vt-fade-move,
.vt-fade-enter-active,
.vt-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.vt-fade-enter-from,
.vt-fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.vt-fade-leave-active {
  position: absolute;
}

/* FADE */
.fade-enter-to
{
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* .fade-enter-active, */
/* .fade-leave-active { */
/*   transition: opacity 0.1s ease; */
/* } */
/**/
/* .fade-enter-from, */
/* .fade-leave-to { */
/*   opacity: 0; */
/* } */
